@font-face {   
    font-family: 'benzin-bold';
    src: url('../fonts/benzin-bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy-light';
    src: url('../fonts/Gilroy-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff3e6;
    background-size: 40px 40px;
    color: #333;
  }

  a {
    background-color: #49A45E;
    border: none;
    color: black;
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 4px;
  }
  
  .container {
    width: 310px;
    margin: 0 auto;
    padding: 10px 5px;
    background-color: transparent;
  }
  
  .info-block {
    background-color: #fff;
    border-radius: 12px;
    border: 2px solid #b4dca8;
    padding: 10px;
    margin-bottom: 15px;
    position: relative;
  }
  
  .info-block h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .info-block p {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .info-block ul {
    margin: 0;
    padding-left: 20px;
    font-size: 13px;
  }
  
  .icon {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
  }

  .title_volgograd {
    font-family: 'benzin-bold';
  }
  
  .section-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3a7b3a;
    font-family: 'benzin-bold';
  }
  
  .route {
    background-color: #fff;
    border-radius: 12px;
    border: 2px solid #b4dca8;
    padding: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .route2 {
    background-color: #fff;
    border-radius: 12px;
    border: 2px solid #b4dca8;
    padding: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .route img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
  }

  .route2 img {
    width: 70px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .route-text {
    flex: 1;
  }
  
  .route-text h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }
  
  .route-text p {
    margin: 4px 0;
    font-size: 12px;
  }
  
  button {
    background-color: #49A45E;
    border: none;
    color: black;
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 4px;
  }

  .form-title {
    text-align: center;
    font-family: 'benzin-bold';
    color: #3a7b3a;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.1;
  }
  
  .form {
    background-color: #57c55a;
    border-radius: 30px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'gilroy-light';
    background-color: #d9d9d9;
  }
  
  .register-btn {
    background-color: #3b7b3b;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-family: 'benzin-bold';
    font-size: 14px;
  }
  
  .login-btn {
    background-color: #247324;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-family: 'benzin-bold';
    font-size: 14px;
  }
  
  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-family: 'benzin-bold';
    font-size: 16px;
    color: black;
  }
  
  .location-icon {
    margin-right: 5px;
  }
  .login-form {
    gap: 12px;
    padding: 25px 20px;
  }
  
  .login-only-btn {
    background-color: #3b7b3b;
    color: black;
    border: none;
    border-radius: 40px;
    padding: 12px;
    font-family: 'benzin-bold';
    font-size: 15px;
    margin-top: 10px;
  }

  .feedback-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .feedback-form textarea {
    resize: none;
    height: 100px;
    border-radius: 25px;
    border: none;
    padding: 15px;
    font-size: 14px;
    font-family: 'gilroy-light';
    background-color: white;
    box-shadow: none;
  }
  
  .submit-feedback-btn {
    background-color: #49A45E;
    color: black;
    border: none;
    border-radius: 25px;
    padding: 12px;
    font-size: 16px;
    font-family: 'benzin-bold';
  }