{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Озеро Эльтон: оздоровительный маршрут</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
    <body>
        <div class="container">
            <div class="info-block">
            <h2 class="title_volgograd">Озеро Эльтон: соленое озеро и лечебные грязи</h2>
            <ul>
                <li>Тип маршрута: Оздоровительный</li>
                <li>Протяженность: 5 км (можно сократить)</li>
                <li>Время прохождения: 1 день</li>
                <li>Доступность: Для колясочников</li>
            </ul>
            </div>

            <div class="section-title">1. Озеро Эльтон</div>
            <div class="route2">
            <img src="../static/images/img9.jpg" alt="Озеро Эльтон">
            <div class="route-text">
                <p><strong>Доступность:</strong></p>
                <ul>
                <li>✅ Настилы для колясок</li>
                <li>✅ Помощь персонала</li>
                </ul>
                <p><strong>Адрес:</strong> Эльтон, Палласовский район</p>
                <p><strong>Описание:</strong> Крупнейшее соленое озеро Европы с лечебными грязями.</p>
            </div>
            </div>

            <div class="section-title">Санаторий «Эльтон»</div>
            <div class="route2">
            <img src="../static/images/img10.jpg" alt="Санаторий Эльтон">
            <div class="route-text">
                <p><strong>Доступность:</strong></p>
                <ul>
                <li>✅ Адаптированные номера</li>
                <li>✅ Медперсонал</li>
                </ul>
                <p><strong>Адрес:</strong> п. Эльтон, ул. Советская, 9</p>
                <p><strong>Описание:</strong> Современный санаторий с программами реабилитации.</p>
            </div>
            </div>

            <div class="info-block">
            <h2>Отзывы</h2>
            <div style="margin-bottom: 8px;">
                <p><strong>Маша</strong></p>
                <p>Вкусное мороженое рядом!</p>
            </div>
            </div>
            <button>Добавить отзыв</button>
        </div>
    </body>
</html>
