{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Волгоград: доступный город-герой</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="container">
        <div class="info-block">
          <h2 class="title_volgograd">Волгоград: доступный город-герой</h2>
          <p>Описание</p>
          <ul>
            <li>Тип маршрута: Историко-патриотический</li>
            <li>Протяженность: 10 км (можно разбить на части)</li>
            <li>Время прохождения: 1 день</li>
            <li>Доступность: Для колясочников, слабовидящих</li>
          </ul>
        </div>
    
        <div class="section-title">Мамаев курган и скульптура «Родина-мать зовёт!»</div>
        <div class="route2">
          <img src="../static/images/img6.png" alt="Мамаев курган">
          <div class="route-text">
            <p><strong>Доступность:</strong></p>
            <ul>
              <li>✅ Пандусы и лифты</li>
              <li>✅ Тактильные плитки</li>
              <li>✅ Специальные парковки</li>
            </ul>
            <p><strong>Адрес:</strong> ул. Маршала Чуйкова, Волгоград</p>
            <p><strong>Описание:</strong> Мемориальный комплекс посвящён памяти павших в Сталинградской битве.</p>
          </div>
        </div>
    
        <div class="section-title">Музей-панорама «Сталинградская битва»</div>
        <div class="route2">
          <img src="../static/images/image 7.png" alt="Музей-панорама">
          <div class="route-text">
            <p><strong>Доступность:</strong></p>
            <ul>
              <li>✅ Широкие дверные проёмы</li>
              <li>✅ Аудиогиды для слабовидящих</li>
              <li>✅ Туалеты для людей с ОВЗ</li>
            </ul>
            <p><strong>Адрес:</strong> ул. Чуйкова, 47</p>
            <p><strong>Описание:</strong> Крупнейшая в России панорама, изображающая битву за Сталинград.</p>
          </div>
        </div>
    
        <div class="section-title">Набережная им. 62-й Армии</div>
        <div class="route2">
          <img src="../static/images/img8.png" alt="Набережная">
          <div class="route-text">
            <p><strong>Доступность:</strong></p>
            <ul>
              <li>✅ Ровные поверхности</li>
              <li>✅ Лавочки для отдыха</li>
              <li>✅ Парковки для инвалидов</li>
            </ul>
            <p><strong>Адрес:</strong> Центральная набережная Волгограда</p>
            <p><strong>Описание:</strong> Одна из самых красивых набережных России.</p>
          </div>
        </div>
    
        <div class="info-block">
          <h2>Отзывы</h2>
          <div style="margin-bottom: 8px;">
            <p><strong>Иван</strong></p>
            <p>Прекрасное место, очень красиво!</p>
          </div>
        </div>
        <button>Добавить отзыв</button>
      </div>
</body>
</html>