{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Камышин: исторический маршрут</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
    <body>
    <div class="container">
        <div class="info-block">
        <h2 class="title_volgograd">Камышин: исторический маршрут</h2>
        <ul>
            <li>Тип маршрута: Краеведческий</li>
            <li>Протяженность: 4 км</li>
            <li>Время прохождения: 5 часов</li>
            <li>Доступность: Для колясочников, слабовидящих (гиды с тифлокомментариями)</li>
        </ul>
        </div>

        <div class="section-title">Камышинский краеведческий музей</div>
        <div class="route2">
        <img src="../static/images/img13.jpg" alt="Камышинский краеведческий музей">
        <div class="route-text">
            <p><strong>Доступность:</strong></p>
            <ul>
            <li>✅ Бесплатный вход для сопровождающих</li>
            <li>✅ Напольные тактильные направляющие</li>
            <li>✅ Тифлокомментарии к 30% экспонатов</li>
            </ul>
            <p><strong>Адрес:</strong> ул. Советская, 1</p>
            <p><strong>Описание:</strong> Современная экспозиция с инклюзивными решениями</p>
        </div>
        </div>

        <div class="section-title">Парк «XX лет ВЛКСМ»</div>
        <div class="route2">
        <img src="../static/images/img14.jpg" alt="Парк XX лет ВЛКСМ">
        <div class="route-text">
            <p><strong>Доступность:</strong></p>
            <ul>
            <li>✅ 6 парковочных мест для инвалидов</li>
            <li>✅ Туалет с поручнями</li>
            <li>✅ Волонтёры по выходным</li>
            </ul>
            <p><strong>Адрес:</strong> между ул. Ленина и Некрасова</p>
            <p><strong>Описание:</strong> Обновлённый парк с зонами отдыха</p>
        </div>
        </div>

        <div class="info-block">
        <h2>Отзывы</h2>
        <div style="margin-bottom: 8px;">
            <p><strong>Сергей</strong></p>
            <p>Отличный маршрут! я прекрасно провел время</p>
        </div>
        </div>
        <button>Добавить отзыв</button>
    </div>
    </body>
</html>
