{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Урюпинск: колорит российской провинции</title>
  <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
  <div class="container">
    <div class="info-block">
      <h2 class="title_volgograd">Урюпинск: колорит российской провинции</h2>
      <ul>
        <li>Тип маршрута: Этнографический</li>
        <li>Протяженность: 3 км</li>
        <li>Время прохождения: 4 часа</li>
        <li>Доступность: Для колясочников (не все объекты), слабовидящих</li>
      </ul>
    </div>

    <div class="section-title">Музей козы</div>
    <div class="route2">
      <img src="../static/images/img15.jpg" alt="Музей козы">
      <div class="route-text">
        <p><strong>Доступность:</strong></p>
        <ul>
          <li>✅ Аудиоэкскурсия</li>
          <li>✅ Стулья для отдыха в каждом зале</li>
        </ul>
        <p><strong>Адрес:</strong> пр. Ленина, 66</p>
        <p><strong>Описание:</strong> Уникальный музей местного символа</p>
      </div>
    </div>

    <div class="section-title">Парк «Хопёр»</div>
    <div class="route2">
      <img src="../static/images/img16.jpg" alt="Парк Хопёр">
      <div class="route-text">
        <p><strong>Доступность:</strong></p>
        <ul>
          <li>✅ Ровные дорожки</li>
          <li>✅ Помощь сёрфингистов для спуска к воде</li>
        </ul>
        <p><strong>Адрес:</strong> ул. Набережная</p>
        <p><strong>Описание:</strong> Благоустроенная зона вдоль реки</p>
      </div>
    </div>

    <div class="info-block">
      <h2>Отзывы</h2>
      <div style="margin-bottom: 8px;">
        <p><strong>Мария</strong></p>
        <p>Музей очень понравился</p>
      </div>
    </div>
    <button>Добавить отзыв</button>
  </div>
</body>
</html>
