{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Волго-Ахтубинская пойма: природа без барьеров</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
    <body>
        <div class="container">
            <div class="info-block">
            <h2 class="title_volgograd">Волго-Ахтубинская пойма: природа без барьеров</h2>
            <ul>
                <li>Тип маршрута: Экологический</li>
                <li>Протяженность: 8 км (можно сократить до 3 км)</li>
                <li>Время прохождения: 1 день (или 2 дня с ночёвкой)</li>
                <li>Доступность: Для колясочников (специальные тропы), слабослышащих (визуальные указатели)</li>
            </ul>
            </div>

            <div class="section-title">Экоцентр «Волго-Ахтубинская пойма»</div>
            <div class="route2">
            <img src="../static/images/img11.jpg" alt="Экоцентр Волго-Ахтубинская пойма">
            <div class="route-text">
                <p><strong>Доступность:</strong></p>
                <ul>
                <li>✅ Пандусы и широкие дверные проёмы</li>
                <li>✅ Рабочие места для колясок в лекционном зале</li>
                <li>✅ Туалет для маломобильных групп</li>
                </ul>
                <p><strong>Адрес:</strong> г. Ленинск, ул. Лесная, 1</p>
                <p><strong>Описание:</strong> Отправная точка маршрута с инклюзивной инфраструктурой</p>
            </div>
            </div>

            <div class="section-title">Тропа «Птичий рай»</div>
            <div class="route2">
            <img src="../static/images/img12.jpg" alt="Тропа Птичий рай">
            <div class="route-text">
                <p><strong>Доступность:</strong></p>
                <ul>
                <li>✅ Отсутствие крутых подъёмов (макс. уклон 5%)</li>
                <li>✅ Перила на всех смотровых площадках</li>
                <li>✅ Места для отдыха каждые 200 м</li>
                </ul>
                <p><strong>Начало:</strong> от экоцентра</p>
                <p><strong>Описание:</strong> Кольцевая тропа длиной 1,5 км с наблюдательными площадками</p>
            </div>
            </div>

            <div class="info-block">
            <h2>Отзывы</h2>
            <div style="margin-bottom: 8px;">
                <p><strong>Таня</strong></p>
                <p>Красота!!!</p>
            </div>
            </div>
            <button>Добавить отзыв</button>
        </div>
    </body>
</html>
