{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Оставить отзыв</title>
  <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
  <div class="container">
    <h1 class="form-title">Оставить<br>отзыв</h1>
    <form class="form feedback-form">
      <textarea placeholder="Введите текст..." required></textarea>
      <button type="submit" class="submit-feedback-btn">Отправить</button>
    </form>
  </div>
</body>
</html>